@use "variables";

header {

    h1 {

        a {
            color: variables.$head-light;
            font-size: 130%;
            text-decoration: none;

            @media (prefers-color-scheme: dark) {
                color: variables.$head-dark;
            }
        }
    }

    nav {

        ul {
            background-color: variables.$primary-light;

            @media (prefers-color-scheme: dark) {
                background-color: variables.$primary-dark;
            }

            a {
                display: inline-block;
                text-decoration: none;
                font-weight: bold;
                font-size: 125%;
                color: variables.$head-light;

                @media (prefers-color-scheme: dark) {
                    color: variables.$head-dark;
                }

                &:hover {
                    transform: scale(1.2);
                    text-decoration: underline;
                }
            }
        }

    }
}

body {
    background-color: variables.$secondary-light;
    font-family: variables.$primary-font;
    color: variables.$text-light;

    @media (prefers-color-scheme: dark) {
        background-color: variables.$secondary-dark;
        color: variables.$text-dark;
    }
}

main {

    article {
        background-color: variables.$primary-light;
        border: 2px solid variables.$head-light;

        @media (prefers-color-scheme: dark) {
            background-color: variables.$primary-dark;
        }

        h2 {
            color: variables.$head-light;
            font-size: 180%;

            @media (prefers-color-scheme: dark) {
                color: variables.$head-dark;
            }
        }

        p {
            letter-spacing: 0.5px;
            font-size: 110%;
        }

        ul {
            line-height: 2em;
        }
    }
}

footer {
    background-color: variables.$primary-light;

    @media (prefers-color-scheme: dark) {
        background-color: variables.$primary-dark;
    }
}