@use "variables";

.is_hidden {
    display: none !important; 
}

header {

    h1 {

        a {
            display: inline-block;
            color: variables.$head-light;
            font-size: 130%;
            text-decoration: none;

            @media (prefers-color-scheme: dark) {
                color: variables.$head-dark;
            }
        }
    }

    nav {

        ul {
            background-color: variables.$primary-light;

            @media (prefers-color-scheme: dark) {
                background-color: variables.$primary-dark;
            }

            a {
                display: inline-block;
                text-decoration: none;
                font-weight: bold;
                font-size: 125%;
                color: variables.$head-light;
                border-bottom: 1px solid variables.$head-light;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 3%;

                @media (prefers-color-scheme: dark) {
                    color: variables.$head-dark;
                    border-bottom: 1px solid variables.$head-dark;
                }

                &:hover {
                    transform: scale(1.1);
                    border-bottom: 2px solid variables.$head-light;
                }
            }
        }

    }
}

body {
    background-color: variables.$secondary-light;
    font-family: variables.$primary-font;
    color: variables.$text-light;

    @media (prefers-color-scheme: dark) {
        background-color: variables.$secondary-dark;
        color: variables.$text-dark;
    }
}

main {

    #starttext {
        background-color: variables.$primary-light;
        border: 2px solid variables.$head-light;

        @media (prefers-color-scheme: dark) {
            background-color: variables.$primary-dark;
            border: 2px solid variables.$head-dark;
        }

        h2 {
            color: variables.$head-light;
            font-size: 180%;

            @media (prefers-color-scheme: dark) {
                color: variables.$head-dark;
            }
        }

        p {
            letter-spacing: 0.5px;
            font-size: 110%;
        }

        ul {
            line-height: 2em;
        }
    }

    #bubble1,
    #bubble2,
    #bubble3 {
        background-color: variables.$primary-light;
        border: 2px solid variables.$head-light;

        @media (prefers-color-scheme: dark) {
            background-color: variables.$primary-dark;
            color: variables.$text-dark;
        }

        h3 {
            @media (prefers-color-scheme: dark) {
                color: variables.$head-dark;
            }
        }
    }
}

footer {
    background-color: variables.$primary-light;

    @media (prefers-color-scheme: dark) {
        background-color: variables.$primary-dark;
    }
}