@use "variables";

header {

    h1 {

        a {
            color: variables.$head-color;
            font-size: 130%;
            text-decoration: none;
        }
    }

    ul {
        background-color: variables.$primary-color;

        a {
            display: inline-block;
            text-decoration: none;
            font-weight: bold;
            font-size: 120%;
            color: variables.$head-color;

            &:hover {
                transform: scale(1.2);
                text-decoration: underline;
            }
        }
    }
}

body {
    background-color: variables.$secondary-color;
    font-family: variables.$primary-font;
    color: variables.$first-text;
}

main {

    article {
        background-color: variables.$primary-color;
        border: 2px solid variables.$head-color;

        h2 {
            color: variables.$head-color;
            font-size: 180%;
        }

        p {
            letter-spacing: 0.5px;
            font-size: 110%;
        }

        ul {
            line-height: 2em;
        }
    }
}

footer {
    background-color: variables.$primary-color;
}