@use "variables";

%text {
    width: 60%;
    justify-self: center;
    padding: 1%;
    margin-bottom: 0;
    margin-top: 3%;
}

#bubble-section {

    #letter {

        transform: rotate(5deg);
    }
}

#menu {
    display: grid;
    width: 15%;
    justify-self: left;
    color: variables.$head-light;
    font-weight: bold;
    font-size: 120%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 4%;
    border: none;
    background-color: variables.$primary-light;

    @media (prefers-color-scheme: dark) {
        color: variables.$head-dark;
        background-color: variables.$primary-dark;
    }
}