@use "mixins";
@use "details";

#container {
    display: grid;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    margin-bottom: 3%;

    h1 {
        padding: 1%;
        text-align: center;

        @media only screen and (max-width: 650px) {
            font-size: 160%;
        }
    }

    nav {
        display: grid;
        width: 100%;
    }

    ul {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        justify-self: center;
        text-align: center;
        list-style: none;
        padding-left: 0;
        padding-top: 2%;
        padding-bottom: 2%;

        @media only screen and (max-width: 1050px) {
            grid-template-columns: none;
            width: 30%;
            justify-self: left;
            margin-left: 4%;
        }
    }
}

main {
    display: grid;

    #starttext,
    #SASS-text {
        display: grid;
        @extend %text;

        @media only screen and (max-width: 1050px) {
            width: 75%;
        }

        @media only screen and (max-width: 650px) {
            width: 85%;
        }

        h2 {
            text-align: center;
        }

        p {
            margin-top: 4%;
            text-align: center;
        }
    }

    #SASS-text {

        article {

            width: 95%;
            justify-self: center;
            margin-top: 3%;
            margin-bottom: 3%;

            h3 {
                margin-left: 3%;
                margin-bottom: 0;
            }

            div {
                display: grid;
                grid-template-columns: 60% 1fr;

                @media only screen and (max-width: 1050px) {
                    grid-template-columns: none;
                }

                #up,
                #down {
                    text-align: center;
                    align-self: center;
                }
            }

            p {
                text-align: left;
                max-width: 68ch;
                margin-left: 2%;

                @media only screen and (max-width: 1050px) {
                    max-width: 85%;
                }

                @media only screen and (max-width: 650px) {
                    max-width: 95%;
                }
            }
        }
    }

    picture {
        justify-self: right;
        margin-right: 10%;
        margin-top: 0;

        @media only screen and (max-width: 1050px) {
            margin-right: 5%;
        }
    }

    #bubble-section {

        #section-head {
            margin-left: 3%;
        }

        #bubble1,
        #bubble2 {
            @include mixins.bubblePlacement();

            @media only screen and (max-width: 1050px) {
                width: 50%;
            }

            @media only screen and (max-width: 650px) {
                width: 75%;
            }
        }

        #bubble3 {
            @include mixins.bubblePlacement();

            @media only screen and (max-width: 1050px) {
                width: 50%;
            }

            @media only screen and (max-width: 650px) {
                width: 75%;
            }

            #forAnswer {
                width: 15%;
            }
        }
    }

    #letter {
        align-self: end;
        justify-self: left;
        margin-left: 4%;
        margin-top: 4%;

        img {
            @media only screen and (max-width: 650px) {
                width: 200px;
            }
        }
    }
}

footer {
    margin-top: 4%;
    padding: 1%;
    text-align: center;

    @media only screen and (max-width: 650px) {
        font-size: 90%;
    }
}