#container {
    display: grid;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    margin-bottom: 3%;

    h1 {
        padding: 1%;
        text-align: center;
    }

    nav {
        display: grid;
        width: 100%;
    }

    ul {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        justify-self: center;
        text-align: center;
        list-style: none;
        padding-left: 0;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

main {
    display: grid;

    article {
        width: 60%;
        justify-self: center;
        padding: 1%;
        margin-bottom: 0;

        h2 {
            text-align: center;
        }

        p {
            margin-top: 4%;
            text-align: center;
        }
    }
    picture {
        justify-self: right;
        padding-right: 10%;
        margin-top: 0;
    }
}

footer {
    margin-top: 4%;
    padding: 1%;
    text-align: center;
}