#container {
    display: grid;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    margin-bottom: 3%;

    h1 {
        margin-top: 0;
        padding: 2%;
    }

    nav {
        display: grid;
        width: 100%;
    }

    ul {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        justify-self: center;
        text-align: center;
        list-style: none;
        padding-left: 0;
    }
}