@use "mixins";
@use "details";

#container {
    display: grid;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    margin-bottom: 3%;

    h1 {
        padding: 1%;
        text-align: center;
    }

    nav {
        display: grid;
        width: 100%;
    }

    ul {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        justify-self: center;
        text-align: center;
        list-style: none;
        padding-left: 0;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

main {
    display: grid;

    #starttext,
    #SASS-text {
        @extend %text;

        h2 {
            text-align: center;
        }

        p {
            margin-top: 4%;
            text-align: center;
        }
    }

    #SASS-text {

        ul {
            li {
                div {
                    display: grid;
                    grid-template-columns: 60% 1fr;

                    #up,
                    #down {
                        text-align: center;
                        align-self: center;
                    }
                }

                p {
                    text-align: left;
                    margin-top: 0;
                    max-width: 68ch;
                }
            }
        }
    }

    picture {
        justify-self: right;
        padding-right: 10%;
        margin-top: 0;
    }

    #bubble-section {

        #section-head {
            margin-left: 3%;
        }

        #bubble1,
        #bubble2 {
            @include mixins.bubblePlacement();
        }

        #bubble3 {
            @include mixins.bubblePlacement();

            #forAnswer {
                width: 15%;
            }
        }
    }

    #letter {
        align-self: end;
        justify-self: left;
        margin-left: 4%;
        margin-top: 4%;
    }
}

footer {
    margin-top: 4%;
    padding: 1%;
    text-align: center;
}