$primary-light: #FBEFEF;
$secondary-light: #F9DFDF;
$head-light: #F57799;
$detail-light: #FCF8F8;
$text-light: black;

$primary-dark: #234C6A;
$secondary-dark: #213C51;
$head-dark: #DDAED3;
$detail-dark: #FCF8F8;
$text-dark: #EEEEEE;

$primary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;