$primary-light: #FFE3ED;
$secondary-light: #E1AFD1;
$head-light:#8A244B;
$detail-light: #FCF8F8;
$text-light: black;

$primary-dark: #234C6A;
$secondary-dark: #213C51;
$head-dark: #DDAED3;
$detail-dark: #FCF8F8;
$text-dark: #EEEEEE;

$primary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$first-style: "positive";
$second-style: "negative";
$third-style: "summary";